/* تنظیمات عمومی */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background: #000;
  overflow-x: hidden;
  color: #fff;
}

/* ویدیو پس‌زمینه */
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.6);
}

/* بخش پروفایل */
.profile-container {
  text-align: center;
  padding: 30px 20px 10px;
  margin-top: 30px;
  backdrop-filter: blur(0px);
  background: rgba(0, 0, 0, 0.0);
}

.profile-pic {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.05);
}

/* اسم با افکت خاص */
.name-glow {
  font-size: 1.8rem;
  margin-top: 15px;
  color: #fff;
  animation: glow 2.5s ease-in-out infinite alternate;
  letter-spacing: 1px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fffdfd, 0 0 10px #6cf, 0 0 15px #6cf;
  }
  to {
    text-shadow: 0 0 15px #0ff, 0 0 25px #0ff, 0 0 35px #0ff;
  }
}

/* عنوان پایین اسم */
.title {
  font-size: 1rem;
  margin-top: 8px;
  color: #000000;
  height: 1.5em; /* مقدار را می‌توانی بیشتر هم بزنی مثل 2em */
  display: block;
  overflow: hidden;
  /* line-height: 1.5;  اگر خواستی می‌تونی فعال کنی */
}

/* لینک‌ها داخل قاب شیشه‌ای */
.links-card {
  margin: 25px auto;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(243, 243, 243, 0.266);
  backdrop-filter: blur(0.5px);
  box-shadow: 0 0 25px rgb(41, 57, 227);
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: floatIn 1.5s ease;
}

@keyframes floatIn {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* دکمه‌های لینک */
.links-card a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(165, 154, 255, 0.867);
  padding: 12px 20px;
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.868);
}

.links-card a:hover {
  transform: scale(1.03);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

/* آیکون‌ها */
.links-card i {
  font-size: 1.2rem;
}

/* پاورقی */
footer {
  text-align: center;
  padding: 20px 10px;
  font-size: 0.85rem;
  color: #aaa;
  margin-top: 40px;
}
